<launch>
    
    <arg name="port0" default="/dev/ttyACM0"/>
    <arg name="port1" default="/dev/ttyACM1"/>
    <arg name="arduino_baud" default="115200"/>
    <arg name="debug" default="1"/>
    <arg name="use_prefix" default="false"/>
    <arg name="prefix" default=""/>

    <arg name="use_own" default="true"/>
    <group if="$(arg use_own)">
    
        <group unless="$(arg use_prefix)">
    <rosparam file="$(find ebobot)/config/nodes/arduino_odom.yaml"/>
        </group>
        
        <group if="$(arg use_prefix)">
    <rosparam file="$(find ebobot)/config/nodes/$(arg prefix)arduino_odom.yaml" /> 
        </group>

    </group>

    <arg name ="arduino_connected" default="true"/>
    <arg name ="arduino0" default="true"/>
    <arg name ="arduino1" default="true"/>
    
    <group if="$(arg arduino_connected)">
        <group if="$(arg arduino0)">
        <node pkg="rosserial_arduino" type="serial_node.py" name="arduino_serial_node" output="screen">
            <param name="port" value="$(arg port0)"/>
            <param name="baud" value="$(arg arduino_baud)"/>
        </node>
        </group>
        <group if="$(arg arduino1)">
        <node pkg="rosserial_arduino" type="serial_node.py" name="arduino_serial_node_secondary" output="screen">
            <param name="port" value="$(arg port1)"/>
            <param name="baud" value="$(arg arduino_baud)"/>
        </node>
        </group>
    </group>

    <node pkg="ebobot" type="motors_info_callback.py" name="motors_info_callback" output="screen" respawn="true" respawn_delay="10"> 
        <param name = "debug" value = "$(arg debug)"/>
    </node>
    <node pkg="ebobot" type="pid_setter.py" name="pid_setter">
        <param name = "path" value = "$(find ebobot)/config/scripts/pid_settings.txt"/>
    </node>
    <node pkg="ebobot" type="servos_setter.py" name="servos_setter">
        <param name = "file" value = "$(find ebobot)/config/scripts/servos.yaml"/>
    </node>
</launch>