<launch>

<arg name="arduino_device" default="/dev/ttyUSB0"/>
<arg name="arduino_baud" default="56400"/>

<node pkg="rosserial_python" type="serial_node.py" name="arduino_serial_node" output="log" respawn="true" respawn_delay="10">
        <param name="port" value="$(arg arduino_device)"/>
        <param name="baud" value="$(arg arduino_baud)"/>
    </node>

    <node pkg="ebobot" type="motors_info_callback.py" name="motors_info_callback_node" output="log" respawn="true" respawn_delay="10"> 
    </node>
</launch>