<launch>

<arg name="port" default="/dev/ttyACM0"/>
<arg name="arduino_baud" default="57600"/>

<node pkg="rosserial_arduino" type="serial_node.py" name="arduino_serial_node" output="log" respawn="true" respawn_delay="10">
        <param name="port" value="$(arg port)"/>
        <param name="baud" value="$(arg arduino_baud)"/>
    </node>

    <node pkg="ebobot" type="motors_info_callback.py" name="motors_info_callback_node" output="log" respawn="true" respawn_delay="10"> 
    </node>
    <node pkg="ebobot" type="pid_setter.py" name="pid_setter_node" output="log" respawn="true" respawn_delay="10"> 
    </node>
</launch>