<launch>
    <arg name="rviz" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="file1" default="$(find ebobot)/config/routes/new_route1.yaml"/>
    <arg name="file2" default="$(find ebobot)/config/routes/new_route2.yaml"/>
    <arg name="test_file1" default="$(find ebobot)/config/routes/test_route1.yaml"/>
    <arg name="test_file2" default="$(find ebobot)/config/routes/test_route2.yaml"/>



    <include file="$(find ebobot)/launch/move_base.launch">
      <arg name="rviz" value="$(arg rviz)"/>
      <arg name="debug" value="$(arg debug)"/>
    </include>

    <include file="$(find ebobot)/launch/new_task_manager.launch">
        <arg name="debug" value="$(arg debug)"/>
        <arg name="file1" value="$(arg file1)"/>
        <arg name="file2" value="$(arg file2)"/>
        <arg name="test_file1" value="$(arg test_file1)"/>
        <arg name="test_file2" value="$(arg test_file2)"/>
    </include>

</launch>