<launch>
    <arg name="debug" default="1"/>
    <arg name="use_own" default="true"/>
    <group if="$(arg use_own)">
    <rosparam file="$(find ebobot)/config/nodes/laser_scan_callback.yaml" />
    </group>
    <node pkg="ebobot" type="laser_scan_callback.py" name="laser_scan_callback" respawn="true" respawn_delay="1"> 
        <param name = "debug" value = "$(arg debug)"/>
    </node>
    
</launch>