<launch>
    <arg name="debug" default="0"/>
    <node pkg="ebobot" type="laser_scan_callback.py" name="laser_scan_callback" respawn="true" respawn_delay="1"> 
        <param name = "debug" value = "$(arg debug)"/>
        <param name = "update_rate" value = "10"/>
        <param name = "beacons/adjust_on_command" value = "0"/>
        <param name = "beacons/cycles_per_update" value = "4"/>
        <param name = "beacons/min_rad" value = "0.005"/>
        <param name = "beacons/max_rad" value = "0.25"/>
        <param name = "beacons/max_dist_from_expected" value = "0.3"/>
        <param name = "beacons/adjust_time" value = "2"/>
        <param name = "beacons/pub_all" value = "1"/>
    </node>
    
</launch>