<launch>
      <arg name="inflate" default="0"/>
      <arg name="arduino_both" default="true"/>
      <arg name="rviz" default="false"/>
      <arg name="laser" default="true"/>
      <arg name="arduino_port0" default="/dev/ttyACM0"/>
      <arg name="arduino_port1" default="/dev/ttyACM1"/>
      <arg name="arduino0" default="true"/>
      <arg name="arduino1" default="true"/>
      <arg name="arduino_baud" default="115200"/>
      <arg name="debug" default="0"/>
      <arg name="use_own" default="true"/>
      <arg name="costmap_dir" default="$(find ebobot)/config/costmap"/>
      <arg name="costmap_file" default="$(find ebobot)/config/costmap/costmap.png"/>
      <arg name="lidar_port" default="dev/ttyUSB0"/>

    <group if="$(arg use_own)">
        <rosparam file="$(find ebobot)/config/nodes/global_config.yaml"/>
    </group>

    <include file="$(find ebobot)/launch/arduino_odom.launch">
      <arg name="arduino_baud" value="$(arg arduino_baud)"/>
      <arg name="use_own" value="$(arg use_own)"/>
      <arg name="port0" value="$(arg arduino_port0)"/>
      <arg name="port1" value="$(arg arduino_port1)"/>
      <arg name="debug" value="$(arg debug)"/>
      <arg name="arduino_connected" value="$(arg arduino_both)"/>
      <arg name="arduino0" value="$(arg arduino0)"/>
      <arg name="arduino1" value="$(arg arduino1)"/>
    </include>

    <include file="$(find ebobot)/launch/costmap.launch">
      <arg name="inflate" value="$(arg inflate)"/>
      <arg name="use_own" value="$(arg use_own)"/>
      <arg name="debug" value="$(arg debug)"/>
      <arg name="file_dir" default="$(arg costmap_dir)"/>
      <arg name="file" default="$(arg costmap_file)"/>
    </include>

    <include file="$(find ebobot)/launch/planers.launch">
      <arg name="use_own" value="$(arg use_own)"/>
      <arg name="debug" value = "$(arg debug)"/>
    </include>

    
    <include file="$(find ebobot)/launch/robot_model.launch">
        <arg name="fake_joint" value = "$(arg rviz)"/>
      </include>
    <group if="$(arg rviz)">
        <include file="$(find ebobot)/launch/rviz.launch"/>
    </group>

    <group if="$(arg laser)">
        <param name="/rplidarNode/serial_port" value="$(arg lidar_port)"/>
        <include file="$(find rplidar_ros)/launch/rplidar.launch"/>     
        <include file="$(find ebobot)/launch/laser_callback.launch">
        <arg name="use_own" value="$(arg use_own)"/>
        <arg name="debug" value = "$(arg debug)"/>
        </include>
    </group>

</launch>