<launch>
    
    <arg name="debug" default="1"/>
    <arg name="calls_file" default="$(find ebobot)/config/routes/calls/calls_dict.yaml"/>
    <arg name="routes_directory" default = "$(find ebobot)/config/routes"/>
    <arg name="use_own" default="true"/>

    <group if="$(arg use_own)">
    <rosparam file="$(find ebobot)/config/nodes/new_task_manager.yaml" />
    </group>

    <node pkg="ebobot" type="new_task_manager.py" name="new_task_manager" output="screen"> 
        <param name = "debug" value = "$(arg debug)"/>
        <param name = "calls_file" value = "$(arg calls_file)"/>
        <param name = "file1" value = "$(arg file1)"/>
        <param name = "file2" value = "$(arg file2)"/>
        <param name = "test_file1" value = "$(arg test_file1)"/>
        <param name = "test_file2" value = "$(arg test_file2)"/>
    </node>
    




</launch>